body {
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
		'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
		sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	background-image: url('static/images/hanuman_hindi.jpg');
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center top;
	scroll-behavior: smooth;
	text-shadow: 0px -2px 4px #fff, 0px -2px 10px #ff3, 0px -10px 20px #f90,
		0px -20px 40px #c33;
	/* font-size: 100px; */
}

@media screen and (max-width: 600px) {
	body {
		background-image: url('static/images/hanuman_ji.jpg');
	}
}
