#stars {
	width: 1px;
	height: 1px;
	background: transparent;
	position: fixed;
	box-shadow: 781px 712px #f5f5f5, 1204px 661px #f5f5f5, 1467px 1520px #f5f5f5,
		1662px 1101px #f5f5f5, 1986px 684px #f5f5f5, 150px 644px #f5f5f5,
		1984px 1247px #f5f5f5, 1778px 100px #f5f5f5, 431px 894px #f5f5f5,
		1520px 1533px #f5f5f5, 3px 878px #f5f5f5, 745px 202px #f5f5f5,
		1876px 288px #f5f5f5, 552px 307px #f5f5f5, 744px 1157px #f5f5f5,
		359px 108px #f5f5f5, 250px 945px #f5f5f5, 368px 1133px #f5f5f5,
		478px 1757px #f5f5f5, 1387px 853px #f5f5f5, 1953px 1018px #f5f5f5,
		1350px 591px #f5f5f5, 1056px 219px #f5f5f5, 1688px 1085px #f5f5f5,
		603px 79px #f5f5f5, 449px 451px #f5f5f5, 159px 278px #f5f5f5,
		1746px 282px #f5f5f5, 801px 1488px #f5f5f5, 1114px 613px #f5f5f5,
		757px 293px #f5f5f5, 492px 1747px #f5f5f5, 690px 835px #f5f5f5,
		1308px 1353px #f5f5f5, 863px 110px #f5f5f5, 1199px 1521px #f5f5f5,
		540px 365px #f5f5f5, 1001px 1403px #f5f5f5, 1824px 1136px #f5f5f5,
		137px 524px #f5f5f5, 991px 1684px #f5f5f5, 1757px 1445px #f5f5f5,
		377px 881px #f5f5f5, 1428px 1273px #f5f5f5, 1476px 1360px #f5f5f5,
		1635px 52px #f5f5f5, 896px 247px #f5f5f5, 757px 1818px #f5f5f5,
		1603px 1658px #f5f5f5, 1196px 765px #f5f5f5, 1592px 596px #f5f5f5,
		783px 1737px #f5f5f5, 1044px 254px #f5f5f5, 1331px 1745px #f5f5f5,
		860px 1784px #f5f5f5, 1067px 703px #f5f5f5, 887px 1452px #f5f5f5,
		1419px 983px #f5f5f5, 304px 192px #f5f5f5, 1223px 1031px #f5f5f5,
		1603px 828px #f5f5f5, 1307px 1175px #f5f5f5, 1990px 156px #f5f5f5,
		974px 1630px #f5f5f5, 495px 455px #f5f5f5, 987px 1894px #f5f5f5,
		756px 1701px #f5f5f5, 1996px 429px #f5f5f5, 1828px 1377px #f5f5f5,
		333px 316px #f5f5f5, 1344px 1881px #f5f5f5, 1523px 1055px #f5f5f5,
		812px 1120px #f5f5f5, 875px 342px #f5f5f5, 543px 1002px #f5f5f5,
		157px 221px #f5f5f5, 130px 1697px #f5f5f5, 2px 1011px #f5f5f5,
		1342px 1690px #f5f5f5, 1148px 130px #f5f5f5, 1418px 288px #f5f5f5,
		956px 820px #f5f5f5, 1961px 1895px #f5f5f5, 1457px 1208px #f5f5f5,
		1257px 763px #f5f5f5, 859px 1773px #f5f5f5, 1587px 314px #f5f5f5,
		1912px 1295px #f5f5f5, 701px 1161px #f5f5f5, 1224px 363px #f5f5f5,
		158px 596px #f5f5f5, 162px 1663px #f5f5f5, 546px 1311px #f5f5f5,
		631px 1310px #f5f5f5, 340px 1395px #f5f5f5, 1657px 1715px #f5f5f5,
		446px 1410px #f5f5f5, 39px 597px #f5f5f5, 939px 1469px #f5f5f5,
		1168px 536px #f5f5f5, 1048px 1339px #f5f5f5, 301px 1385px #f5f5f5,
		1146px 817px #f5f5f5, 208px 1379px #f5f5f5, 225px 737px #f5f5f5,
		1189px 845px #f5f5f5, 1197px 432px #f5f5f5, 1419px 1997px #f5f5f5,
		1626px 1361px #f5f5f5, 431px 1168px #f5f5f5, 1433px 1640px #f5f5f5,
		1202px 266px #f5f5f5, 1858px 210px #f5f5f5, 690px 437px #f5f5f5,
		250px 1568px #f5f5f5, 1018px 749px #f5f5f5, 1169px 1672px #f5f5f5,
		616px 1233px #f5f5f5, 580px 1788px #f5f5f5, 812px 1405px #f5f5f5,
		992px 217px #f5f5f5, 886px 908px #f5f5f5, 323px 1822px #f5f5f5,
		875px 1712px #f5f5f5, 1348px 1916px #f5f5f5, 435px 1335px #f5f5f5,
		1389px 1308px #f5f5f5, 221px 1128px #f5f5f5, 1788px 344px #f5f5f5,
		1606px 1177px #f5f5f5, 1px 692px #f5f5f5, 886px 13px #f5f5f5,
		1784px 1202px #f5f5f5, 42px 1880px #f5f5f5, 1065px 799px #f5f5f5,
		637px 705px #f5f5f5, 1075px 49px #f5f5f5, 392px 1207px #f5f5f5,
		479px 542px #f5f5f5, 726px 161px #f5f5f5, 754px 1344px #f5f5f5,
		1920px 1831px #f5f5f5, 85px 390px #f5f5f5, 544px 1155px #f5f5f5,
		1421px 888px #f5f5f5, 1746px 1236px #f5f5f5, 1668px 1622px #f5f5f5,
		1677px 890px #f5f5f5, 955px 1276px #f5f5f5, 1600px 1981px #f5f5f5,
		910px 575px #f5f5f5, 495px 951px #f5f5f5, 353px 1683px #f5f5f5,
		780px 170px #f5f5f5, 883px 719px #f5f5f5, 581px 799px #f5f5f5,
		861px 1445px #f5f5f5, 1806px 1178px #f5f5f5, 58px 174px #f5f5f5,
		1570px 119px #f5f5f5, 1180px 1608px #f5f5f5, 254px 960px #f5f5f5,
		303px 1814px #f5f5f5, 88px 1561px #f5f5f5, 664px 845px #f5f5f5,
		1008px 1278px #f5f5f5, 1826px 289px #f5f5f5, 1947px 1449px #f5f5f5,
		1194px 1079px #f5f5f5, 569px 1173px #f5f5f5, 532px 1574px #f5f5f5,
		1268px 917px #f5f5f5, 1972px 1005px #f5f5f5, 1852px 1328px #f5f5f5,
		1303px 921px #f5f5f5, 144px 887px #f5f5f5, 988px 687px #f5f5f5,
		348px 260px #f5f5f5, 253px 28px #f5f5f5, 1682px 330px #f5f5f5,
		1913px 1777px #f5f5f5, 1172px 875px #f5f5f5, 1613px 503px #f5f5f5,
		20px 624px #f5f5f5, 1971px 184px #f5f5f5, 13px 1244px #f5f5f5,
		184px 918px #f5f5f5, 1016px 1416px #f5f5f5, 1545px 158px #f5f5f5,
		734px 785px #f5f5f5, 1197px 1160px #f5f5f5, 648px 1648px #f5f5f5,
		900px 862px #f5f5f5, 137px 1550px #f5f5f5, 1724px 1585px #f5f5f5,
		1827px 846px #f5f5f5, 1573px 125px #f5f5f5, 764px 703px #f5f5f5,
		1323px 338px #f5f5f5, 1628px 884px #f5f5f5, 278px 1796px #f5f5f5,
		24px 747px #f5f5f5, 1735px 1339px #f5f5f5, 379px 1369px #f5f5f5,
		1636px 649px #f5f5f5, 1507px 934px #f5f5f5, 850px 1287px #f5f5f5,
		1309px 827px #f5f5f5, 1882px 631px #f5f5f5, 419px 266px #f5f5f5,
		541px 1423px #f5f5f5, 1166px 484px #f5f5f5, 1982px 148px #f5f5f5,
		1416px 186px #f5f5f5, 54px 1800px #f5f5f5, 1530px 25px #f5f5f5,
		1445px 522px #f5f5f5, 1165px 942px #f5f5f5, 528px 187px #f5f5f5,
		1305px 805px #f5f5f5, 132px 13px #f5f5f5, 1857px 1735px #f5f5f5,
		504px 1064px #f5f5f5, 1898px 613px #f5f5f5, 422px 1941px #f5f5f5,
		784px 948px #f5f5f5, 1055px 1111px #f5f5f5, 48px 731px #f5f5f5,
		1456px 664px #f5f5f5, 1743px 347px #f5f5f5, 857px 70px #f5f5f5,
		620px 1839px #f5f5f5, 264px 1641px #f5f5f5, 1861px 21px #f5f5f5,
		477px 1402px #f5f5f5, 638px 319px #f5f5f5, 125px 55px #f5f5f5,
		1455px 1080px #f5f5f5, 840px 1015px #f5f5f5, 936px 436px #f5f5f5,
		774px 312px #f5f5f5, 1043px 1881px #f5f5f5, 122px 1952px #f5f5f5,
		1230px 1017px #f5f5f5, 501px 1157px #f5f5f5, 982px 754px #f5f5f5,
		1708px 1238px #f5f5f5, 1293px 945px #f5f5f5, 1004px 1078px #f5f5f5,
		261px 993px #f5f5f5, 1395px 755px #f5f5f5, 41px 1239px #f5f5f5,
		1379px 217px #f5f5f5, 227px 453px #f5f5f5, 360px 1056px #f5f5f5,
		229px 23px #f5f5f5, 1872px 131px #f5f5f5, 1602px 1809px #f5f5f5,
		311px 599px #f5f5f5, 1220px 887px #f5f5f5, 1741px 185px #f5f5f5,
		212px 480px #f5f5f5, 1792px 1320px #f5f5f5, 280px 618px #f5f5f5,
		1622px 1219px #f5f5f5, 1963px 1360px #f5f5f5, 1408px 1285px #f5f5f5,
		1943px 1464px #f5f5f5, 1717px 267px #f5f5f5, 1419px 424px #f5f5f5,
		1628px 1370px #f5f5f5, 1349px 474px #f5f5f5, 921px 740px #f5f5f5,
		483px 752px #f5f5f5, 457px 1710px #f5f5f5, 1465px 1685px #f5f5f5,
		1521px 662px #f5f5f5, 166px 796px #f5f5f5, 85px 854px #f5f5f5,
		1856px 1501px #f5f5f5, 1983px 672px #f5f5f5, 410px 789px #f5f5f5,
		597px 886px #f5f5f5, 489px 1268px #f5f5f5, 1992px 1320px #f5f5f5,
		1790px 338px #f5f5f5, 282px 821px #f5f5f5, 1871px 1011px #f5f5f5,
		993px 690px #f5f5f5, 316px 1993px #f5f5f5, 1547px 1322px #f5f5f5,
		1406px 236px #f5f5f5, 1293px 1464px #f5f5f5, 263px 1480px #f5f5f5,
		331px 642px #f5f5f5, 336px 1737px #f5f5f5, 66px 1436px #f5f5f5,
		473px 1807px #f5f5f5, 58px 284px #f5f5f5, 653px 1221px #f5f5f5,
		1591px 567px #f5f5f5, 566px 1062px #f5f5f5, 450px 1561px #f5f5f5,
		1749px 1634px #f5f5f5, 286px 523px #f5f5f5, 1648px 1433px #f5f5f5,
		942px 1619px #f5f5f5, 1129px 1337px #f5f5f5, 1688px 1382px #f5f5f5,
		1775px 854px #f5f5f5, 854px 1098px #f5f5f5, 472px 870px #f5f5f5,
		906px 389px #f5f5f5, 879px 309px #f5f5f5, 371px 98px #f5f5f5,
		545px 523px #f5f5f5, 1130px 1573px #f5f5f5, 1098px 1766px #f5f5f5,
		1293px 1137px #f5f5f5, 558px 1781px #f5f5f5, 1596px 189px #f5f5f5,
		816px 1953px #f5f5f5, 1311px 1760px #f5f5f5, 356px 1766px #f5f5f5,
		1104px 1779px #f5f5f5, 836px 1604px #f5f5f5, 103px 80px #f5f5f5,
		1848px 767px #f5f5f5, 1907px 1746px #f5f5f5, 304px 1255px #f5f5f5,
		1021px 757px #f5f5f5, 1655px 725px #f5f5f5, 1087px 526px #f5f5f5,
		888px 1212px #f5f5f5, 833px 1318px #f5f5f5, 1155px 911px #f5f5f5,
		906px 1864px #f5f5f5, 303px 1975px #f5f5f5, 1937px 544px #f5f5f5,
		1997px 904px #f5f5f5, 1979px 1444px #f5f5f5, 1051px 477px #f5f5f5,
		1854px 119px #f5f5f5, 1832px 1757px #f5f5f5, 1084px 684px #f5f5f5,
		58px 54px #f5f5f5, 646px 1439px #f5f5f5, 175px 832px #f5f5f5,
		1649px 1846px #f5f5f5, 1822px 344px #f5f5f5, 1749px 1154px #f5f5f5,
		475px 1501px #f5f5f5, 1472px 1161px #f5f5f5, 711px 667px #f5f5f5,
		1631px 774px #f5f5f5, 1289px 1640px #f5f5f5, 808px 878px #f5f5f5,
		1291px 31px #f5f5f5, 1292px 652px #f5f5f5, 1952px 1794px #f5f5f5,
		1454px 1729px #f5f5f5, 1121px 711px #f5f5f5, 996px 1437px #f5f5f5,
		71px 199px #f5f5f5, 948px 1216px #f5f5f5, 488px 1834px #f5f5f5,
		1352px 1830px #f5f5f5, 1691px 701px #f5f5f5, 823px 1978px #f5f5f5,
		1877px 788px #f5f5f5, 1199px 137px #f5f5f5, 259px 364px #f5f5f5,
		1178px 1238px #f5f5f5, 393px 1110px #f5f5f5, 227px 1046px #f5f5f5,
		1139px 368px #f5f5f5, 811px 1636px #f5f5f5, 99px 916px #f5f5f5,
		1555px 1260px #f5f5f5, 1907px 180px #f5f5f5, 667px 5px #f5f5f5,
		449px 314px #f5f5f5, 1805px 2px #f5f5f5, 1580px 1510px #f5f5f5,
		1839px 1862px #f5f5f5, 780px 832px #f5f5f5, 19px 911px #f5f5f5,
		645px 718px #f5f5f5, 1542px 1729px #f5f5f5, 1167px 1903px #f5f5f5,
		1380px 1362px #f5f5f5, 796px 1728px #f5f5f5, 890px 1914px #f5f5f5,
		1991px 499px #f5f5f5, 819px 1464px #f5f5f5, 1840px 1467px #f5f5f5,
		1720px 1884px #f5f5f5, 286px 1123px #f5f5f5, 1674px 355px #f5f5f5,
		1092px 1012px #f5f5f5, 497px 1113px #f5f5f5, 807px 1597px #f5f5f5,
		93px 173px #f5f5f5, 686px 621px #f5f5f5, 231px 1716px #f5f5f5,
		663px 1338px #f5f5f5, 591px 1929px #f5f5f5, 184px 1297px #f5f5f5,
		1779px 187px #f5f5f5, 1826px 171px #f5f5f5, 1179px 1996px #f5f5f5,
		1678px 858px #f5f5f5, 342px 1745px #f5f5f5, 957px 760px #f5f5f5,
		1904px 858px #f5f5f5, 841px 318px #f5f5f5, 543px 1786px #f5f5f5,
		1154px 1503px #f5f5f5, 1109px 1748px #f5f5f5, 1660px 818px #f5f5f5,
		1422px 1108px #f5f5f5, 561px 1857px #f5f5f5, 1301px 1689px #f5f5f5,
		557px 1199px #f5f5f5, 1339px 87px #f5f5f5, 429px 1773px #f5f5f5,
		1369px 1884px #f5f5f5, 1945px 1758px #f5f5f5, 1854px 1210px #f5f5f5,
		1347px 1779px #f5f5f5, 1116px 251px #f5f5f5, 199px 1118px #f5f5f5,
		222px 1692px #f5f5f5, 1020px 1916px #f5f5f5, 842px 1610px #f5f5f5,
		1391px 994px #f5f5f5, 849px 115px #f5f5f5, 784px 1300px #f5f5f5,
		978px 19px #f5f5f5, 1412px 999px #f5f5f5, 1879px 498px #f5f5f5,
		225px 388px #f5f5f5, 740px 1019px #f5f5f5, 128px 168px #f5f5f5,
		1031px 1692px #f5f5f5, 1297px 1236px #f5f5f5, 656px 875px #f5f5f5,
		690px 126px #f5f5f5, 1451px 381px #f5f5f5, 402px 1990px #f5f5f5,
		382px 1724px #f5f5f5, 213px 1613px #f5f5f5, 1607px 1368px #f5f5f5,
		249px 1220px #f5f5f5, 1842px 102px #f5f5f5, 1294px 574px #f5f5f5,
		1632px 1813px #f5f5f5, 1216px 318px #f5f5f5, 40px 1440px #f5f5f5,
		731px 541px #f5f5f5, 408px 842px #f5f5f5, 1854px 508px #f5f5f5,
		263px 1566px #f5f5f5, 1331px 726px #f5f5f5, 1376px 1636px #f5f5f5,
		517px 1491px #f5f5f5, 1194px 812px #f5f5f5, 36px 698px #f5f5f5,
		712px 202px #f5f5f5, 1228px 1445px #f5f5f5, 269px 1778px #f5f5f5,
		744px 212px #f5f5f5, 1538px 1231px #f5f5f5, 1481px 1548px #f5f5f5,
		167px 587px #f5f5f5, 13px 1467px #f5f5f5, 559px 107px #f5f5f5,
		1321px 1720px #f5f5f5, 87px 338px #f5f5f5, 1701px 726px #f5f5f5,
		1199px 1398px #f5f5f5, 1485px 435px #f5f5f5, 356px 569px #f5f5f5,
		1381px 1967px #f5f5f5, 1553px 44px #f5f5f5, 561px 1093px #f5f5f5,
		1569px 837px #f5f5f5, 1758px 739px #f5f5f5, 315px 1930px #f5f5f5,
		1708px 790px #f5f5f5, 816px 400px #f5f5f5, 1296px 1248px #f5f5f5,
		1358px 865px #f5f5f5, 1947px 1250px #f5f5f5, 48px 903px #f5f5f5,
		43px 1220px #f5f5f5, 1334px 261px #f5f5f5, 362px 1080px #f5f5f5,
		586px 2px #f5f5f5, 558px 1157px #f5f5f5, 842px 1554px #f5f5f5,
		1642px 1051px #f5f5f5, 1782px 1556px #f5f5f5, 227px 1915px #f5f5f5,
		1994px 808px #f5f5f5, 568px 562px #f5f5f5, 733px 1821px #f5f5f5,
		918px 1395px #f5f5f5, 171px 262px #f5f5f5, 1792px 1250px #f5f5f5,
		1275px 1929px #f5f5f5, 1684px 1562px #f5f5f5, 1865px 1156px #f5f5f5,
		1030px 1587px #f5f5f5, 1468px 515px #f5f5f5, 1624px 842px #f5f5f5,
		254px 634px #f5f5f5, 1458px 220px #f5f5f5, 604px 692px #f5f5f5,
		1903px 1078px #f5f5f5, 1806px 1904px #f5f5f5, 52px 1011px #f5f5f5,
		1839px 785px #f5f5f5, 139px 1369px #f5f5f5, 39px 157px #f5f5f5,
		1115px 1149px #f5f5f5, 1238px 1442px #f5f5f5, 1996px 335px #f5f5f5,
		885px 1528px #f5f5f5, 1988px 1337px #f5f5f5, 931px 1005px #f5f5f5,
		1656px 1282px #f5f5f5, 1947px 901px #f5f5f5, 963px 1347px #f5f5f5,
		687px 617px #f5f5f5, 645px 1001px #f5f5f5, 167px 1225px #f5f5f5,
		194px 955px #f5f5f5, 1781px 981px #f5f5f5, 1736px 1761px #f5f5f5,
		1788px 1423px #f5f5f5, 1090px 1075px #f5f5f5, 1369px 235px #f5f5f5,
		1442px 140px #f5f5f5, 626px 874px #f5f5f5, 833px 1941px #f5f5f5,
		896px 66px #f5f5f5, 1070px 333px #f5f5f5, 1386px 59px #f5f5f5,
		490px 1981px #f5f5f5, 664px 1925px #f5f5f5, 1993px 350px #f5f5f5,
		1406px 1492px #f5f5f5, 1020px 1935px #f5f5f5, 71px 824px #f5f5f5,
		1961px 1607px #f5f5f5, 753px 723px #f5f5f5, 1632px 26px #f5f5f5,
		498px 417px #f5f5f5, 711px 394px #f5f5f5, 35px 565px #f5f5f5,
		96px 1541px #f5f5f5, 305px 1619px #f5f5f5, 1514px 1523px #f5f5f5,
		182px 259px #f5f5f5, 1592px 916px #f5f5f5, 216px 1937px #f5f5f5,
		576px 1827px #f5f5f5, 595px 1851px #f5f5f5, 870px 1307px #f5f5f5,
		1604px 996px #f5f5f5, 606px 457px #f5f5f5, 105px 1801px #f5f5f5,
		418px 1861px #f5f5f5, 1744px 59px #f5f5f5, 1270px 617px #f5f5f5,
		1697px 163px #f5f5f5, 1389px 1347px #f5f5f5, 246px 1198px #f5f5f5,
		1322px 277px #f5f5f5, 1206px 50px #f5f5f5, 1818px 86px #f5f5f5,
		323px 750px #f5f5f5, 1866px 1843px #f5f5f5, 152px 1949px #f5f5f5,
		834px 728px #f5f5f5, 1338px 902px #f5f5f5, 1618px 1107px #f5f5f5,
		903px 1536px #f5f5f5, 1222px 393px #f5f5f5, 1532px 1210px #f5f5f5,
		1680px 1394px #f5f5f5, 1449px 1782px #f5f5f5, 429px 1499px #f5f5f5,
		515px 1683px #f5f5f5, 1474px 546px #f5f5f5, 972px 277px #f5f5f5,
		1682px 88px #f5f5f5, 368px 1167px #f5f5f5, 1389px 663px #f5f5f5,
		451px 1154px #f5f5f5, 1278px 1692px #f5f5f5, 707px 92px #f5f5f5,
		1482px 192px #f5f5f5, 1841px 550px #f5f5f5, 1124px 647px #f5f5f5,
		1458px 1436px #f5f5f5, 201px 1394px #f5f5f5, 1869px 1284px #f5f5f5,
		1278px 1480px #f5f5f5, 1772px 865px #f5f5f5, 1810px 658px #f5f5f5,
		752px 1227px #f5f5f5, 442px 1775px #f5f5f5, 1245px 1012px #f5f5f5,
		504px 985px #f5f5f5, 342px 899px #f5f5f5, 531px 152px #f5f5f5,
		417px 1109px #f5f5f5, 1706px 863px #f5f5f5, 1275px 269px #f5f5f5,
		5px 223px #f5f5f5, 1811px 20px #f5f5f5, 1154px 24px #f5f5f5,
		1579px 391px #f5f5f5, 404px 1510px #f5f5f5, 432px 1973px #f5f5f5,
		5px 1951px #f5f5f5, 1741px 1111px #f5f5f5, 1121px 939px #f5f5f5,
		409px 785px #f5f5f5, 195px 435px #f5f5f5, 1493px 1250px #f5f5f5,
		806px 998px #f5f5f5, 1957px 934px #f5f5f5, 1298px 1084px #f5f5f5,
		1501px 1896px #f5f5f5, 1605px 993px #f5f5f5, 257px 758px #f5f5f5,
		1879px 890px #f5f5f5, 782px 568px #f5f5f5, 1193px 1810px #f5f5f5,
		1557px 1033px #f5f5f5, 116px 1302px #f5f5f5, 1526px 1163px #f5f5f5,
		464px 1014px #f5f5f5, 644px 71px #f5f5f5, 1651px 1735px #f5f5f5,
		1527px 1639px #f5f5f5, 1085px 811px #f5f5f5, 262px 551px #f5f5f5,
		216px 231px #f5f5f5, 1760px 1400px #f5f5f5, 978px 320px #f5f5f5,
		1187px 1479px #f5f5f5, 1551px 1544px #f5f5f5, 638px 1673px #f5f5f5,
		410px 1875px #f5f5f5, 520px 1780px #f5f5f5, 470px 1612px #f5f5f5,
		1541px 561px #f5f5f5, 1676px 942px #f5f5f5, 178px 625px #f5f5f5,
		115px 1748px #f5f5f5, 646px 1365px #f5f5f5, 642px 1686px #f5f5f5,
		199px 1624px #f5f5f5, 244px 1150px #f5f5f5, 260px 769px #f5f5f5,
		927px 1026px #f5f5f5, 353px 802px #f5f5f5, 728px 1358px #f5f5f5,
		771px 1659px #f5f5f5, 1855px 751px #f5f5f5, 1573px 1891px #f5f5f5,
		1015px 1915px #f5f5f5, 818px 1006px #f5f5f5, 1840px 686px #f5f5f5,
		99px 1541px #f5f5f5, 260px 1673px #f5f5f5, 1112px 522px #f5f5f5,
		1325px 1172px #f5f5f5, 56px 714px #f5f5f5, 687px 1000px #f5f5f5,
		1990px 1679px #f5f5f5, 295px 1533px #f5f5f5, 565px 1198px #f5f5f5,
		422px 1706px #f5f5f5, 1575px 1374px #f5f5f5, 1273px 804px #f5f5f5,
		446px 1508px #f5f5f5, 761px 1461px #f5f5f5, 1635px 589px #f5f5f5,
		521px 1777px #f5f5f5, 63px 401px #f5f5f5, 44px 1235px #f5f5f5,
		1775px 1349px #f5f5f5, 844px 1767px #f5f5f5, 246px 1026px #f5f5f5,
		849px 1699px #f5f5f5;
	animation: animStar 50s linear infinite;
}
#stars:after {
	content: ' ';
	position: absolute;
	top: 100vh;
	width: 1px;
	height: 1px;
	background: transparent;
	box-shadow: 781px 712px #f5f5f5, 1204px 661px #f5f5f5, 1467px 1520px #f5f5f5,
		1662px 1101px #f5f5f5, 1986px 684px #f5f5f5, 150px 644px #f5f5f5,
		1984px 1247px #f5f5f5, 1778px 100px #f5f5f5, 431px 894px #f5f5f5,
		1520px 1533px #f5f5f5, 3px 878px #f5f5f5, 745px 202px #f5f5f5,
		1876px 288px #f5f5f5, 552px 307px #f5f5f5, 744px 1157px #f5f5f5,
		359px 108px #f5f5f5, 250px 945px #f5f5f5, 368px 1133px #f5f5f5,
		478px 1757px #f5f5f5, 1387px 853px #f5f5f5, 1953px 1018px #f5f5f5,
		1350px 591px #f5f5f5, 1056px 219px #f5f5f5, 1688px 1085px #f5f5f5,
		603px 79px #f5f5f5, 449px 451px #f5f5f5, 159px 278px #f5f5f5,
		1746px 282px #f5f5f5, 801px 1488px #f5f5f5, 1114px 613px #f5f5f5,
		757px 293px #f5f5f5, 492px 1747px #f5f5f5, 690px 835px #f5f5f5,
		1308px 1353px #f5f5f5, 863px 110px #f5f5f5, 1199px 1521px #f5f5f5,
		540px 365px #f5f5f5, 1001px 1403px #f5f5f5, 1824px 1136px #f5f5f5,
		137px 524px #f5f5f5, 991px 1684px #f5f5f5, 1757px 1445px #f5f5f5,
		377px 881px #f5f5f5, 1428px 1273px #f5f5f5, 1476px 1360px #f5f5f5,
		1635px 52px #f5f5f5, 896px 247px #f5f5f5, 757px 1818px #f5f5f5,
		1603px 1658px #f5f5f5, 1196px 765px #f5f5f5, 1592px 596px #f5f5f5,
		783px 1737px #f5f5f5, 1044px 254px #f5f5f5, 1331px 1745px #f5f5f5,
		860px 1784px #f5f5f5, 1067px 703px #f5f5f5, 887px 1452px #f5f5f5,
		1419px 983px #f5f5f5, 304px 192px #f5f5f5, 1223px 1031px #f5f5f5,
		1603px 828px #f5f5f5, 1307px 1175px #f5f5f5, 1990px 156px #f5f5f5,
		974px 1630px #f5f5f5, 495px 455px #f5f5f5, 987px 1894px #f5f5f5,
		756px 1701px #f5f5f5, 1996px 429px #f5f5f5, 1828px 1377px #f5f5f5,
		333px 316px #f5f5f5, 1344px 1881px #f5f5f5, 1523px 1055px #f5f5f5,
		812px 1120px #f5f5f5, 875px 342px #f5f5f5, 543px 1002px #f5f5f5,
		157px 221px #f5f5f5, 130px 1697px #f5f5f5, 2px 1011px #f5f5f5,
		1342px 1690px #f5f5f5, 1148px 130px #f5f5f5, 1418px 288px #f5f5f5,
		956px 820px #f5f5f5, 1961px 1895px #f5f5f5, 1457px 1208px #f5f5f5,
		1257px 763px #f5f5f5, 859px 1773px #f5f5f5, 1587px 314px #f5f5f5,
		1912px 1295px #f5f5f5, 701px 1161px #f5f5f5, 1224px 363px #f5f5f5,
		158px 596px #f5f5f5, 162px 1663px #f5f5f5, 546px 1311px #f5f5f5,
		631px 1310px #f5f5f5, 340px 1395px #f5f5f5, 1657px 1715px #f5f5f5,
		446px 1410px #f5f5f5, 39px 597px #f5f5f5, 939px 1469px #f5f5f5,
		1168px 536px #f5f5f5, 1048px 1339px #f5f5f5, 301px 1385px #f5f5f5,
		1146px 817px #f5f5f5, 208px 1379px #f5f5f5, 225px 737px #f5f5f5,
		1189px 845px #f5f5f5, 1197px 432px #f5f5f5, 1419px 1997px #f5f5f5,
		1626px 1361px #f5f5f5, 431px 1168px #f5f5f5, 1433px 1640px #f5f5f5,
		1202px 266px #f5f5f5, 1858px 210px #f5f5f5, 690px 437px #f5f5f5,
		250px 1568px #f5f5f5, 1018px 749px #f5f5f5, 1169px 1672px #f5f5f5,
		616px 1233px #f5f5f5, 580px 1788px #f5f5f5, 812px 1405px #f5f5f5,
		992px 217px #f5f5f5, 886px 908px #f5f5f5, 323px 1822px #f5f5f5,
		875px 1712px #f5f5f5, 1348px 1916px #f5f5f5, 435px 1335px #f5f5f5,
		1389px 1308px #f5f5f5, 221px 1128px #f5f5f5, 1788px 344px #f5f5f5,
		1606px 1177px #f5f5f5, 1px 692px #f5f5f5, 886px 13px #f5f5f5,
		1784px 1202px #f5f5f5, 42px 1880px #f5f5f5, 1065px 799px #f5f5f5,
		637px 705px #f5f5f5, 1075px 49px #f5f5f5, 392px 1207px #f5f5f5,
		479px 542px #f5f5f5, 726px 161px #f5f5f5, 754px 1344px #f5f5f5,
		1920px 1831px #f5f5f5, 85px 390px #f5f5f5, 544px 1155px #f5f5f5,
		1421px 888px #f5f5f5, 1746px 1236px #f5f5f5, 1668px 1622px #f5f5f5,
		1677px 890px #f5f5f5, 955px 1276px #f5f5f5, 1600px 1981px #f5f5f5,
		910px 575px #f5f5f5, 495px 951px #f5f5f5, 353px 1683px #f5f5f5,
		780px 170px #f5f5f5, 883px 719px #f5f5f5, 581px 799px #f5f5f5,
		861px 1445px #f5f5f5, 1806px 1178px #f5f5f5, 58px 174px #f5f5f5,
		1570px 119px #f5f5f5, 1180px 1608px #f5f5f5, 254px 960px #f5f5f5,
		303px 1814px #f5f5f5, 88px 1561px #f5f5f5, 664px 845px #f5f5f5,
		1008px 1278px #f5f5f5, 1826px 289px #f5f5f5, 1947px 1449px #f5f5f5,
		1194px 1079px #f5f5f5, 569px 1173px #f5f5f5, 532px 1574px #f5f5f5,
		1268px 917px #f5f5f5, 1972px 1005px #f5f5f5, 1852px 1328px #f5f5f5,
		1303px 921px #f5f5f5, 144px 887px #f5f5f5, 988px 687px #f5f5f5,
		348px 260px #f5f5f5, 253px 28px #f5f5f5, 1682px 330px #f5f5f5,
		1913px 1777px #f5f5f5, 1172px 875px #f5f5f5, 1613px 503px #f5f5f5,
		20px 624px #f5f5f5, 1971px 184px #f5f5f5, 13px 1244px #f5f5f5,
		184px 918px #f5f5f5, 1016px 1416px #f5f5f5, 1545px 158px #f5f5f5,
		734px 785px #f5f5f5, 1197px 1160px #f5f5f5, 648px 1648px #f5f5f5,
		900px 862px #f5f5f5, 137px 1550px #f5f5f5, 1724px 1585px #f5f5f5,
		1827px 846px #f5f5f5, 1573px 125px #f5f5f5, 764px 703px #f5f5f5,
		1323px 338px #f5f5f5, 1628px 884px #f5f5f5, 278px 1796px #f5f5f5,
		24px 747px #f5f5f5, 1735px 1339px #f5f5f5, 379px 1369px #f5f5f5,
		1636px 649px #f5f5f5, 1507px 934px #f5f5f5, 850px 1287px #f5f5f5,
		1309px 827px #f5f5f5, 1882px 631px #f5f5f5, 419px 266px #f5f5f5,
		541px 1423px #f5f5f5, 1166px 484px #f5f5f5, 1982px 148px #f5f5f5,
		1416px 186px #f5f5f5, 54px 1800px #f5f5f5, 1530px 25px #f5f5f5,
		1445px 522px #f5f5f5, 1165px 942px #f5f5f5, 528px 187px #f5f5f5,
		1305px 805px #f5f5f5, 132px 13px #f5f5f5, 1857px 1735px #f5f5f5,
		504px 1064px #f5f5f5, 1898px 613px #f5f5f5, 422px 1941px #f5f5f5,
		784px 948px #f5f5f5, 1055px 1111px #f5f5f5, 48px 731px #f5f5f5,
		1456px 664px #f5f5f5, 1743px 347px #f5f5f5, 857px 70px #f5f5f5,
		620px 1839px #f5f5f5, 264px 1641px #f5f5f5, 1861px 21px #f5f5f5,
		477px 1402px #f5f5f5, 638px 319px #f5f5f5, 125px 55px #f5f5f5,
		1455px 1080px #f5f5f5, 840px 1015px #f5f5f5, 936px 436px #f5f5f5,
		774px 312px #f5f5f5, 1043px 1881px #f5f5f5, 122px 1952px #f5f5f5,
		1230px 1017px #f5f5f5, 501px 1157px #f5f5f5, 982px 754px #f5f5f5,
		1708px 1238px #f5f5f5, 1293px 945px #f5f5f5, 1004px 1078px #f5f5f5,
		261px 993px #f5f5f5, 1395px 755px #f5f5f5, 41px 1239px #f5f5f5,
		1379px 217px #f5f5f5, 227px 453px #f5f5f5, 360px 1056px #f5f5f5,
		229px 23px #f5f5f5, 1872px 131px #f5f5f5, 1602px 1809px #f5f5f5,
		311px 599px #f5f5f5, 1220px 887px #f5f5f5, 1741px 185px #f5f5f5,
		212px 480px #f5f5f5, 1792px 1320px #f5f5f5, 280px 618px #f5f5f5,
		1622px 1219px #f5f5f5, 1963px 1360px #f5f5f5, 1408px 1285px #f5f5f5,
		1943px 1464px #f5f5f5, 1717px 267px #f5f5f5, 1419px 424px #f5f5f5,
		1628px 1370px #f5f5f5, 1349px 474px #f5f5f5, 921px 740px #f5f5f5,
		483px 752px #f5f5f5, 457px 1710px #f5f5f5, 1465px 1685px #f5f5f5,
		1521px 662px #f5f5f5, 166px 796px #f5f5f5, 85px 854px #f5f5f5,
		1856px 1501px #f5f5f5, 1983px 672px #f5f5f5, 410px 789px #f5f5f5,
		597px 886px #f5f5f5, 489px 1268px #f5f5f5, 1992px 1320px #f5f5f5,
		1790px 338px #f5f5f5, 282px 821px #f5f5f5, 1871px 1011px #f5f5f5,
		993px 690px #f5f5f5, 316px 1993px #f5f5f5, 1547px 1322px #f5f5f5,
		1406px 236px #f5f5f5, 1293px 1464px #f5f5f5, 263px 1480px #f5f5f5,
		331px 642px #f5f5f5, 336px 1737px #f5f5f5, 66px 1436px #f5f5f5,
		473px 1807px #f5f5f5, 58px 284px #f5f5f5, 653px 1221px #f5f5f5,
		1591px 567px #f5f5f5, 566px 1062px #f5f5f5, 450px 1561px #f5f5f5,
		1749px 1634px #f5f5f5, 286px 523px #f5f5f5, 1648px 1433px #f5f5f5,
		942px 1619px #f5f5f5, 1129px 1337px #f5f5f5, 1688px 1382px #f5f5f5,
		1775px 854px #f5f5f5, 854px 1098px #f5f5f5, 472px 870px #f5f5f5,
		906px 389px #f5f5f5, 879px 309px #f5f5f5, 371px 98px #f5f5f5,
		545px 523px #f5f5f5, 1130px 1573px #f5f5f5, 1098px 1766px #f5f5f5,
		1293px 1137px #f5f5f5, 558px 1781px #f5f5f5, 1596px 189px #f5f5f5,
		816px 1953px #f5f5f5, 1311px 1760px #f5f5f5, 356px 1766px #f5f5f5,
		1104px 1779px #f5f5f5, 836px 1604px #f5f5f5, 103px 80px #f5f5f5,
		1848px 767px #f5f5f5, 1907px 1746px #f5f5f5, 304px 1255px #f5f5f5,
		1021px 757px #f5f5f5, 1655px 725px #f5f5f5, 1087px 526px #f5f5f5,
		888px 1212px #f5f5f5, 833px 1318px #f5f5f5, 1155px 911px #f5f5f5,
		906px 1864px #f5f5f5, 303px 1975px #f5f5f5, 1937px 544px #f5f5f5,
		1997px 904px #f5f5f5, 1979px 1444px #f5f5f5, 1051px 477px #f5f5f5,
		1854px 119px #f5f5f5, 1832px 1757px #f5f5f5, 1084px 684px #f5f5f5,
		58px 54px #f5f5f5, 646px 1439px #f5f5f5, 175px 832px #f5f5f5,
		1649px 1846px #f5f5f5, 1822px 344px #f5f5f5, 1749px 1154px #f5f5f5,
		475px 1501px #f5f5f5, 1472px 1161px #f5f5f5, 711px 667px #f5f5f5,
		1631px 774px #f5f5f5, 1289px 1640px #f5f5f5, 808px 878px #f5f5f5,
		1291px 31px #f5f5f5, 1292px 652px #f5f5f5, 1952px 1794px #f5f5f5,
		1454px 1729px #f5f5f5, 1121px 711px #f5f5f5, 996px 1437px #f5f5f5,
		71px 199px #f5f5f5, 948px 1216px #f5f5f5, 488px 1834px #f5f5f5,
		1352px 1830px #f5f5f5, 1691px 701px #f5f5f5, 823px 1978px #f5f5f5,
		1877px 788px #f5f5f5, 1199px 137px #f5f5f5, 259px 364px #f5f5f5,
		1178px 1238px #f5f5f5, 393px 1110px #f5f5f5, 227px 1046px #f5f5f5,
		1139px 368px #f5f5f5, 811px 1636px #f5f5f5, 99px 916px #f5f5f5,
		1555px 1260px #f5f5f5, 1907px 180px #f5f5f5, 667px 5px #f5f5f5,
		449px 314px #f5f5f5, 1805px 2px #f5f5f5, 1580px 1510px #f5f5f5,
		1839px 1862px #f5f5f5, 780px 832px #f5f5f5, 19px 911px #f5f5f5,
		645px 718px #f5f5f5, 1542px 1729px #f5f5f5, 1167px 1903px #f5f5f5,
		1380px 1362px #f5f5f5, 796px 1728px #f5f5f5, 890px 1914px #f5f5f5,
		1991px 499px #f5f5f5, 819px 1464px #f5f5f5, 1840px 1467px #f5f5f5,
		1720px 1884px #f5f5f5, 286px 1123px #f5f5f5, 1674px 355px #f5f5f5,
		1092px 1012px #f5f5f5, 497px 1113px #f5f5f5, 807px 1597px #f5f5f5,
		93px 173px #f5f5f5, 686px 621px #f5f5f5, 231px 1716px #f5f5f5,
		663px 1338px #f5f5f5, 591px 1929px #f5f5f5, 184px 1297px #f5f5f5,
		1779px 187px #f5f5f5, 1826px 171px #f5f5f5, 1179px 1996px #f5f5f5,
		1678px 858px #f5f5f5, 342px 1745px #f5f5f5, 957px 760px #f5f5f5,
		1904px 858px #f5f5f5, 841px 318px #f5f5f5, 543px 1786px #f5f5f5,
		1154px 1503px #f5f5f5, 1109px 1748px #f5f5f5, 1660px 818px #f5f5f5,
		1422px 1108px #f5f5f5, 561px 1857px #f5f5f5, 1301px 1689px #f5f5f5,
		557px 1199px #f5f5f5, 1339px 87px #f5f5f5, 429px 1773px #f5f5f5,
		1369px 1884px #f5f5f5, 1945px 1758px #f5f5f5, 1854px 1210px #f5f5f5,
		1347px 1779px #f5f5f5, 1116px 251px #f5f5f5, 199px 1118px #f5f5f5,
		222px 1692px #f5f5f5, 1020px 1916px #f5f5f5, 842px 1610px #f5f5f5,
		1391px 994px #f5f5f5, 849px 115px #f5f5f5, 784px 1300px #f5f5f5,
		978px 19px #f5f5f5, 1412px 999px #f5f5f5, 1879px 498px #f5f5f5,
		225px 388px #f5f5f5, 740px 1019px #f5f5f5, 128px 168px #f5f5f5,
		1031px 1692px #f5f5f5, 1297px 1236px #f5f5f5, 656px 875px #f5f5f5,
		690px 126px #f5f5f5, 1451px 381px #f5f5f5, 402px 1990px #f5f5f5,
		382px 1724px #f5f5f5, 213px 1613px #f5f5f5, 1607px 1368px #f5f5f5,
		249px 1220px #f5f5f5, 1842px 102px #f5f5f5, 1294px 574px #f5f5f5,
		1632px 1813px #f5f5f5, 1216px 318px #f5f5f5, 40px 1440px #f5f5f5,
		731px 541px #f5f5f5, 408px 842px #f5f5f5, 1854px 508px #f5f5f5,
		263px 1566px #f5f5f5, 1331px 726px #f5f5f5, 1376px 1636px #f5f5f5,
		517px 1491px #f5f5f5, 1194px 812px #f5f5f5, 36px 698px #f5f5f5,
		712px 202px #f5f5f5, 1228px 1445px #f5f5f5, 269px 1778px #f5f5f5,
		744px 212px #f5f5f5, 1538px 1231px #f5f5f5, 1481px 1548px #f5f5f5,
		167px 587px #f5f5f5, 13px 1467px #f5f5f5, 559px 107px #f5f5f5,
		1321px 1720px #f5f5f5, 87px 338px #f5f5f5, 1701px 726px #f5f5f5,
		1199px 1398px #f5f5f5, 1485px 435px #f5f5f5, 356px 569px #f5f5f5,
		1381px 1967px #f5f5f5, 1553px 44px #f5f5f5, 561px 1093px #f5f5f5,
		1569px 837px #f5f5f5, 1758px 739px #f5f5f5, 315px 1930px #f5f5f5,
		1708px 790px #f5f5f5, 816px 400px #f5f5f5, 1296px 1248px #f5f5f5,
		1358px 865px #f5f5f5, 1947px 1250px #f5f5f5, 48px 903px #f5f5f5,
		43px 1220px #f5f5f5, 1334px 261px #f5f5f5, 362px 1080px #f5f5f5,
		586px 2px #f5f5f5, 558px 1157px #f5f5f5, 842px 1554px #f5f5f5,
		1642px 1051px #f5f5f5, 1782px 1556px #f5f5f5, 227px 1915px #f5f5f5,
		1994px 808px #f5f5f5, 568px 562px #f5f5f5, 733px 1821px #f5f5f5,
		918px 1395px #f5f5f5, 171px 262px #f5f5f5, 1792px 1250px #f5f5f5,
		1275px 1929px #f5f5f5, 1684px 1562px #f5f5f5, 1865px 1156px #f5f5f5,
		1030px 1587px #f5f5f5, 1468px 515px #f5f5f5, 1624px 842px #f5f5f5,
		254px 634px #f5f5f5, 1458px 220px #f5f5f5, 604px 692px #f5f5f5,
		1903px 1078px #f5f5f5, 1806px 1904px #f5f5f5, 52px 1011px #f5f5f5,
		1839px 785px #f5f5f5, 139px 1369px #f5f5f5, 39px 157px #f5f5f5,
		1115px 1149px #f5f5f5, 1238px 1442px #f5f5f5, 1996px 335px #f5f5f5,
		885px 1528px #f5f5f5, 1988px 1337px #f5f5f5, 931px 1005px #f5f5f5,
		1656px 1282px #f5f5f5, 1947px 901px #f5f5f5, 963px 1347px #f5f5f5,
		687px 617px #f5f5f5, 645px 1001px #f5f5f5, 167px 1225px #f5f5f5,
		194px 955px #f5f5f5, 1781px 981px #f5f5f5, 1736px 1761px #f5f5f5,
		1788px 1423px #f5f5f5, 1090px 1075px #f5f5f5, 1369px 235px #f5f5f5,
		1442px 140px #f5f5f5, 626px 874px #f5f5f5, 833px 1941px #f5f5f5,
		896px 66px #f5f5f5, 1070px 333px #f5f5f5, 1386px 59px #f5f5f5,
		490px 1981px #f5f5f5, 664px 1925px #f5f5f5, 1993px 350px #f5f5f5,
		1406px 1492px #f5f5f5, 1020px 1935px #f5f5f5, 71px 824px #f5f5f5,
		1961px 1607px #f5f5f5, 753px 723px #f5f5f5, 1632px 26px #f5f5f5,
		498px 417px #f5f5f5, 711px 394px #f5f5f5, 35px 565px #f5f5f5,
		96px 1541px #f5f5f5, 305px 1619px #f5f5f5, 1514px 1523px #f5f5f5,
		182px 259px #f5f5f5, 1592px 916px #f5f5f5, 216px 1937px #f5f5f5,
		576px 1827px #f5f5f5, 595px 1851px #f5f5f5, 870px 1307px #f5f5f5,
		1604px 996px #f5f5f5, 606px 457px #f5f5f5, 105px 1801px #f5f5f5,
		418px 1861px #f5f5f5, 1744px 59px #f5f5f5, 1270px 617px #f5f5f5,
		1697px 163px #f5f5f5, 1389px 1347px #f5f5f5, 246px 1198px #f5f5f5,
		1322px 277px #f5f5f5, 1206px 50px #f5f5f5, 1818px 86px #f5f5f5,
		323px 750px #f5f5f5, 1866px 1843px #f5f5f5, 152px 1949px #f5f5f5,
		834px 728px #f5f5f5, 1338px 902px #f5f5f5, 1618px 1107px #f5f5f5,
		903px 1536px #f5f5f5, 1222px 393px #f5f5f5, 1532px 1210px #f5f5f5,
		1680px 1394px #f5f5f5, 1449px 1782px #f5f5f5, 429px 1499px #f5f5f5,
		515px 1683px #f5f5f5, 1474px 546px #f5f5f5, 972px 277px #f5f5f5,
		1682px 88px #f5f5f5, 368px 1167px #f5f5f5, 1389px 663px #f5f5f5,
		451px 1154px #f5f5f5, 1278px 1692px #f5f5f5, 707px 92px #f5f5f5,
		1482px 192px #f5f5f5, 1841px 550px #f5f5f5, 1124px 647px #f5f5f5,
		1458px 1436px #f5f5f5, 201px 1394px #f5f5f5, 1869px 1284px #f5f5f5,
		1278px 1480px #f5f5f5, 1772px 865px #f5f5f5, 1810px 658px #f5f5f5,
		752px 1227px #f5f5f5, 442px 1775px #f5f5f5, 1245px 1012px #f5f5f5,
		504px 985px #f5f5f5, 342px 899px #f5f5f5, 531px 152px #f5f5f5,
		417px 1109px #f5f5f5, 1706px 863px #f5f5f5, 1275px 269px #f5f5f5,
		5px 223px #f5f5f5, 1811px 20px #f5f5f5, 1154px 24px #f5f5f5,
		1579px 391px #f5f5f5, 404px 1510px #f5f5f5, 432px 1973px #f5f5f5,
		5px 1951px #f5f5f5, 1741px 1111px #f5f5f5, 1121px 939px #f5f5f5,
		409px 785px #f5f5f5, 195px 435px #f5f5f5, 1493px 1250px #f5f5f5,
		806px 998px #f5f5f5, 1957px 934px #f5f5f5, 1298px 1084px #f5f5f5,
		1501px 1896px #f5f5f5, 1605px 993px #f5f5f5, 257px 758px #f5f5f5,
		1879px 890px #f5f5f5, 782px 568px #f5f5f5, 1193px 1810px #f5f5f5,
		1557px 1033px #f5f5f5, 116px 1302px #f5f5f5, 1526px 1163px #f5f5f5,
		464px 1014px #f5f5f5, 644px 71px #f5f5f5, 1651px 1735px #f5f5f5,
		1527px 1639px #f5f5f5, 1085px 811px #f5f5f5, 262px 551px #f5f5f5,
		216px 231px #f5f5f5, 1760px 1400px #f5f5f5, 978px 320px #f5f5f5,
		1187px 1479px #f5f5f5, 1551px 1544px #f5f5f5, 638px 1673px #f5f5f5,
		410px 1875px #f5f5f5, 520px 1780px #f5f5f5, 470px 1612px #f5f5f5,
		1541px 561px #f5f5f5, 1676px 942px #f5f5f5, 178px 625px #f5f5f5,
		115px 1748px #f5f5f5, 646px 1365px #f5f5f5, 642px 1686px #f5f5f5,
		199px 1624px #f5f5f5, 244px 1150px #f5f5f5, 260px 769px #f5f5f5,
		927px 1026px #f5f5f5, 353px 802px #f5f5f5, 728px 1358px #f5f5f5,
		771px 1659px #f5f5f5, 1855px 751px #f5f5f5, 1573px 1891px #f5f5f5,
		1015px 1915px #f5f5f5, 818px 1006px #f5f5f5, 1840px 686px #f5f5f5,
		99px 1541px #f5f5f5, 260px 1673px #f5f5f5, 1112px 522px #f5f5f5,
		1325px 1172px #f5f5f5, 56px 714px #f5f5f5, 687px 1000px #f5f5f5,
		1990px 1679px #f5f5f5, 295px 1533px #f5f5f5, 565px 1198px #f5f5f5,
		422px 1706px #f5f5f5, 1575px 1374px #f5f5f5, 1273px 804px #f5f5f5,
		446px 1508px #f5f5f5, 761px 1461px #f5f5f5, 1635px 589px #f5f5f5,
		521px 1777px #f5f5f5, 63px 401px #f5f5f5, 44px 1235px #f5f5f5,
		1775px 1349px #f5f5f5, 844px 1767px #f5f5f5, 246px 1026px #f5f5f5,
		849px 1699px #f5f5f5;
}

#stars2 {
	position: fixed;
	width: 2px;
	height: 2px;
	border-radius: 50%;
	background: transparent;
	box-shadow: 933px 1187px #f5f5f5, 1247px 717px #f5f5f5, 1250px 763px #f5f5f5,
		757px 1746px #f5f5f5, 765px 674px #f5f5f5, 1621px 580px #f5f5f5,
		880px 1712px #f5f5f5, 234px 625px #f5f5f5, 32px 919px #f5f5f5,
		1761px 36px #f5f5f5, 1393px 1744px #f5f5f5, 1352px 929px #f5f5f5,
		741px 1438px #f5f5f5, 453px 178px #f5f5f5, 780px 445px #f5f5f5,
		157px 207px #f5f5f5, 1270px 1552px #f5f5f5, 439px 278px #f5f5f5,
		1812px 1735px #f5f5f5, 387px 1655px #f5f5f5, 1831px 698px #f5f5f5,
		444px 613px #f5f5f5, 1340px 1987px #f5f5f5, 1452px 1485px #f5f5f5,
		1484px 1428px #f5f5f5, 710px 628px #f5f5f5, 1935px 575px #f5f5f5,
		1660px 912px #f5f5f5, 1519px 333px #f5f5f5, 30px 1181px #f5f5f5,
		1177px 1693px #f5f5f5, 1679px 553px #f5f5f5, 609px 188px #f5f5f5,
		696px 1191px #f5f5f5, 1771px 1475px #f5f5f5, 54px 644px #f5f5f5,
		889px 1130px #f5f5f5, 1967px 350px #f5f5f5, 1891px 128px #f5f5f5,
		146px 487px #f5f5f5, 1761px 1211px #f5f5f5, 12px 339px #f5f5f5,
		1260px 507px #f5f5f5, 1546px 1590px #f5f5f5, 1034px 751px #f5f5f5,
		511px 571px #f5f5f5, 1624px 766px #f5f5f5, 703px 1418px #f5f5f5,
		787px 1217px #f5f5f5, 971px 1111px #f5f5f5, 1258px 1653px #f5f5f5,
		444px 1575px #f5f5f5, 1700px 996px #f5f5f5, 941px 797px #f5f5f5,
		1003px 1783px #f5f5f5, 1431px 1584px #f5f5f5, 299px 717px #f5f5f5,
		1856px 955px #f5f5f5, 348px 1439px #f5f5f5, 1443px 705px #f5f5f5,
		1170px 662px #f5f5f5, 1413px 1437px #f5f5f5, 663px 1435px #f5f5f5,
		1757px 1px #f5f5f5, 911px 164px #f5f5f5, 1769px 326px #f5f5f5,
		1170px 1193px #f5f5f5, 1708px 1618px #f5f5f5, 1984px 377px #f5f5f5,
		1734px 1876px #f5f5f5, 1868px 893px #f5f5f5, 1541px 1581px #f5f5f5,
		1333px 360px #f5f5f5, 57px 1952px #f5f5f5, 1439px 1045px #f5f5f5,
		1537px 1509px #f5f5f5, 145px 98px #f5f5f5, 242px 244px #f5f5f5,
		1788px 1224px #f5f5f5, 1129px 1309px #f5f5f5, 889px 927px #f5f5f5,
		1898px 1698px #f5f5f5, 1635px 934px #f5f5f5, 192px 1844px #f5f5f5,
		1829px 362px #f5f5f5, 28px 531px #f5f5f5, 1041px 600px #f5f5f5,
		19px 1585px #f5f5f5, 967px 390px #f5f5f5, 1623px 1931px #f5f5f5,
		436px 1131px #f5f5f5, 652px 804px #f5f5f5, 820px 63px #f5f5f5,
		1519px 1892px #f5f5f5, 725px 1365px #f5f5f5, 1829px 546px #f5f5f5,
		341px 882px #f5f5f5, 1035px 923px #f5f5f5, 778px 1198px #f5f5f5,
		820px 1906px #f5f5f5, 1718px 136px #f5f5f5, 1061px 1750px #f5f5f5,
		1210px 585px #f5f5f5, 300px 303px #f5f5f5, 762px 1266px #f5f5f5,
		347px 1576px #f5f5f5, 1724px 1026px #f5f5f5, 1733px 293px #f5f5f5,
		123px 747px #f5f5f5, 917px 468px #f5f5f5, 1217px 1105px #f5f5f5,
		1146px 830px #f5f5f5, 321px 1352px #f5f5f5, 989px 1372px #f5f5f5,
		598px 1143px #f5f5f5, 1387px 22px #f5f5f5, 94px 1434px #f5f5f5,
		544px 638px #f5f5f5, 162px 921px #f5f5f5, 476px 1558px #f5f5f5,
		220px 1157px #f5f5f5, 1195px 709px #f5f5f5, 299px 1543px #f5f5f5,
		686px 1296px #f5f5f5, 769px 1727px #f5f5f5, 1056px 307px #f5f5f5,
		265px 904px #f5f5f5, 159px 1534px #f5f5f5, 852px 1590px #f5f5f5,
		462px 324px #f5f5f5, 497px 1362px #f5f5f5, 1928px 1934px #f5f5f5,
		819px 1929px #f5f5f5, 1616px 1913px #f5f5f5, 754px 1698px #f5f5f5,
		1371px 1963px #f5f5f5, 1981px 428px #f5f5f5, 878px 605px #f5f5f5,
		6px 1764px #f5f5f5, 1043px 1492px #f5f5f5, 1016px 162px #f5f5f5,
		553px 474px #f5f5f5, 38px 681px #f5f5f5, 24px 543px #f5f5f5,
		1150px 1140px #f5f5f5, 161px 63px #f5f5f5, 458px 1145px #f5f5f5,
		478px 872px #f5f5f5, 281px 1853px #f5f5f5, 781px 1540px #f5f5f5,
		1715px 1232px #f5f5f5, 1361px 1519px #f5f5f5, 479px 545px #f5f5f5,
		1569px 1465px #f5f5f5, 1713px 1128px #f5f5f5, 1336px 1328px #f5f5f5,
		1348px 158px #f5f5f5, 521px 807px #f5f5f5, 350px 564px #f5f5f5,
		1881px 544px #f5f5f5, 1220px 193px #f5f5f5, 1244px 1053px #f5f5f5,
		567px 1866px #f5f5f5, 261px 1961px #f5f5f5, 1890px 856px #f5f5f5,
		1373px 1925px #f5f5f5, 1683px 529px #f5f5f5, 1783px 1149px #f5f5f5,
		1381px 425px #f5f5f5, 875px 569px #f5f5f5, 274px 733px #f5f5f5,
		1442px 402px #f5f5f5, 1385px 1367px #f5f5f5, 493px 1460px #f5f5f5,
		142px 1524px #f5f5f5, 686px 162px #f5f5f5, 308px 597px #f5f5f5,
		1112px 1032px #f5f5f5, 1596px 635px #f5f5f5, 1651px 1837px #f5f5f5,
		922px 1426px #f5f5f5, 733px 1439px #f5f5f5, 1060px 560px #f5f5f5,
		618px 1992px #f5f5f5, 137px 1785px #f5f5f5, 1841px 1895px #f5f5f5,
		1357px 807px #f5f5f5, 1447px 318px #f5f5f5, 400px 1563px #f5f5f5,
		1304px 102px #f5f5f5, 1118px 1843px #f5f5f5, 1379px 979px #f5f5f5,
		743px 929px #f5f5f5, 252px 764px #f5f5f5, 941px 395px #f5f5f5,
		976px 1263px #f5f5f5, 547px 137px #f5f5f5, 480px 1521px #f5f5f5,
		1331px 163px #f5f5f5, 751px 1686px #f5f5f5;
	animation: animStar 100s linear infinite;
}
#stars2:after {
	content: ' ';
	position: absolute;
	top: 2000px;
	width: 2px;
	height: 2px;
	background: transparent;
	box-shadow: 933px 1187px #f5f5f5, 1247px 717px #f5f5f5, 1250px 763px #f5f5f5,
		757px 1746px #f5f5f5, 765px 674px #f5f5f5, 1621px 580px #f5f5f5,
		880px 1712px #f5f5f5, 234px 625px #f5f5f5, 32px 919px #f5f5f5,
		1761px 36px #f5f5f5, 1393px 1744px #f5f5f5, 1352px 929px #f5f5f5,
		741px 1438px #f5f5f5, 453px 178px #f5f5f5, 780px 445px #f5f5f5,
		157px 207px #f5f5f5, 1270px 1552px #f5f5f5, 439px 278px #f5f5f5,
		1812px 1735px #f5f5f5, 387px 1655px #f5f5f5, 1831px 698px #f5f5f5,
		444px 613px #f5f5f5, 1340px 1987px #f5f5f5, 1452px 1485px #f5f5f5,
		1484px 1428px #f5f5f5, 710px 628px #f5f5f5, 1935px 575px #f5f5f5,
		1660px 912px #f5f5f5, 1519px 333px #f5f5f5, 30px 1181px #f5f5f5,
		1177px 1693px #f5f5f5, 1679px 553px #f5f5f5, 609px 188px #f5f5f5,
		696px 1191px #f5f5f5, 1771px 1475px #f5f5f5, 54px 644px #f5f5f5,
		889px 1130px #f5f5f5, 1967px 350px #f5f5f5, 1891px 128px #f5f5f5,
		146px 487px #f5f5f5, 1761px 1211px #f5f5f5, 12px 339px #f5f5f5,
		1260px 507px #f5f5f5, 1546px 1590px #f5f5f5, 1034px 751px #f5f5f5,
		511px 571px #f5f5f5, 1624px 766px #f5f5f5, 703px 1418px #f5f5f5,
		787px 1217px #f5f5f5, 971px 1111px #f5f5f5, 1258px 1653px #f5f5f5,
		444px 1575px #f5f5f5, 1700px 996px #f5f5f5, 941px 797px #f5f5f5,
		1003px 1783px #f5f5f5, 1431px 1584px #f5f5f5, 299px 717px #f5f5f5,
		1856px 955px #f5f5f5, 348px 1439px #f5f5f5, 1443px 705px #f5f5f5,
		1170px 662px #f5f5f5, 1413px 1437px #f5f5f5, 663px 1435px #f5f5f5,
		1757px 1px #f5f5f5, 911px 164px #f5f5f5, 1769px 326px #f5f5f5,
		1170px 1193px #f5f5f5, 1708px 1618px #f5f5f5, 1984px 377px #f5f5f5,
		1734px 1876px #f5f5f5, 1868px 893px #f5f5f5, 1541px 1581px #f5f5f5,
		1333px 360px #f5f5f5, 57px 1952px #f5f5f5, 1439px 1045px #f5f5f5,
		1537px 1509px #f5f5f5, 145px 98px #f5f5f5, 242px 244px #f5f5f5,
		1788px 1224px #f5f5f5, 1129px 1309px #f5f5f5, 889px 927px #f5f5f5,
		1898px 1698px #f5f5f5, 1635px 934px #f5f5f5, 192px 1844px #f5f5f5,
		1829px 362px #f5f5f5, 28px 531px #f5f5f5, 1041px 600px #f5f5f5,
		19px 1585px #f5f5f5, 967px 390px #f5f5f5, 1623px 1931px #f5f5f5,
		436px 1131px #f5f5f5, 652px 804px #f5f5f5, 820px 63px #f5f5f5,
		1519px 1892px #f5f5f5, 725px 1365px #f5f5f5, 1829px 546px #f5f5f5,
		341px 882px #f5f5f5, 1035px 923px #f5f5f5, 778px 1198px #f5f5f5,
		820px 1906px #f5f5f5, 1718px 136px #f5f5f5, 1061px 1750px #f5f5f5,
		1210px 585px #f5f5f5, 300px 303px #f5f5f5, 762px 1266px #f5f5f5,
		347px 1576px #f5f5f5, 1724px 1026px #f5f5f5, 1733px 293px #f5f5f5,
		123px 747px #f5f5f5, 917px 468px #f5f5f5, 1217px 1105px #f5f5f5,
		1146px 830px #f5f5f5, 321px 1352px #f5f5f5, 989px 1372px #f5f5f5,
		598px 1143px #f5f5f5, 1387px 22px #f5f5f5, 94px 1434px #f5f5f5,
		544px 638px #f5f5f5, 162px 921px #f5f5f5, 476px 1558px #f5f5f5,
		220px 1157px #f5f5f5, 1195px 709px #f5f5f5, 299px 1543px #f5f5f5,
		686px 1296px #f5f5f5, 769px 1727px #f5f5f5, 1056px 307px #f5f5f5,
		265px 904px #f5f5f5, 159px 1534px #f5f5f5, 852px 1590px #f5f5f5,
		462px 324px #f5f5f5, 497px 1362px #f5f5f5, 1928px 1934px #f5f5f5,
		819px 1929px #f5f5f5, 1616px 1913px #f5f5f5, 754px 1698px #f5f5f5,
		1371px 1963px #f5f5f5, 1981px 428px #f5f5f5, 878px 605px #f5f5f5,
		6px 1764px #f5f5f5, 1043px 1492px #f5f5f5, 1016px 162px #f5f5f5,
		553px 474px #f5f5f5, 38px 681px #f5f5f5, 24px 543px #f5f5f5,
		1150px 1140px #f5f5f5, 161px 63px #f5f5f5, 458px 1145px #f5f5f5,
		478px 872px #f5f5f5, 281px 1853px #f5f5f5, 781px 1540px #f5f5f5,
		1715px 1232px #f5f5f5, 1361px 1519px #f5f5f5, 479px 545px #f5f5f5,
		1569px 1465px #f5f5f5, 1713px 1128px #f5f5f5, 1336px 1328px #f5f5f5,
		1348px 158px #f5f5f5, 521px 807px #f5f5f5, 350px 564px #f5f5f5,
		1881px 544px #f5f5f5, 1220px 193px #f5f5f5, 1244px 1053px #f5f5f5,
		567px 1866px #f5f5f5, 261px 1961px #f5f5f5, 1890px 856px #f5f5f5,
		1373px 1925px #f5f5f5, 1683px 529px #f5f5f5, 1783px 1149px #f5f5f5,
		1381px 425px #f5f5f5, 875px 569px #f5f5f5, 274px 733px #f5f5f5,
		1442px 402px #f5f5f5, 1385px 1367px #f5f5f5, 493px 1460px #f5f5f5,
		142px 1524px #f5f5f5, 686px 162px #f5f5f5, 308px 597px #f5f5f5,
		1112px 1032px #f5f5f5, 1596px 635px #f5f5f5, 1651px 1837px #f5f5f5,
		922px 1426px #f5f5f5, 733px 1439px #f5f5f5, 1060px 560px #f5f5f5,
		618px 1992px #f5f5f5, 137px 1785px #f5f5f5, 1841px 1895px #f5f5f5,
		1357px 807px #f5f5f5, 1447px 318px #f5f5f5, 400px 1563px #f5f5f5,
		1304px 102px #f5f5f5, 1118px 1843px #f5f5f5, 1379px 979px #f5f5f5,
		743px 929px #f5f5f5, 252px 764px #f5f5f5, 941px 395px #f5f5f5,
		976px 1263px #f5f5f5, 547px 137px #f5f5f5, 480px 1521px #f5f5f5,
		1331px 163px #f5f5f5, 751px 1686px #f5f5f5;
}

#stars3 {
	width: 3px;
	height: 3px;
	border-radius: 50%;
	position: fixed;
	background: transparent;
	box-shadow: 1714px 336px #f5f5f5, 1233px 1403px #f5f5f5, 1106px 1251px #f5f5f5,
		1892px 461px #f5f5f5, 896px 1831px #f5f5f5, 363px 1360px #f5f5f5,
		1759px 1219px #f5f5f5, 459px 1957px #f5f5f5, 1246px 1287px #f5f5f5,
		738px 1656px #f5f5f5, 1595px 1523px #f5f5f5, 1733px 973px #f5f5f5,
		1725px 1557px #f5f5f5, 1101px 1749px #f5f5f5, 312px 1303px #f5f5f5,
		1039px 1995px #f5f5f5, 803px 1340px #f5f5f5, 924px 1421px #f5f5f5,
		442px 1820px #f5f5f5, 919px 1294px #f5f5f5, 16px 1261px #f5f5f5,
		1795px 1254px #f5f5f5, 765px 1618px #f5f5f5, 1967px 1082px #f5f5f5,
		1511px 1244px #f5f5f5, 606px 85px #f5f5f5, 508px 600px #f5f5f5,
		250px 1923px #f5f5f5, 355px 627px #f5f5f5, 159px 225px #f5f5f5,
		118px 1531px #f5f5f5, 967px 1496px #f5f5f5, 1409px 949px #f5f5f5,
		137px 1669px #f5f5f5, 1291px 1779px #f5f5f5, 177px 1265px #f5f5f5,
		667px 833px #f5f5f5, 1445px 1176px #f5f5f5, 291px 170px #f5f5f5,
		927px 1408px #f5f5f5, 1212px 137px #f5f5f5, 1563px 166px #f5f5f5,
		430px 1709px #f5f5f5, 48px 19px #f5f5f5, 1672px 332px #f5f5f5,
		610px 919px #f5f5f5, 1838px 448px #f5f5f5, 469px 170px #f5f5f5,
		1933px 1862px #f5f5f5, 1845px 1880px #f5f5f5, 1921px 1819px #f5f5f5,
		1132px 1040px #f5f5f5, 225px 1935px #f5f5f5, 1183px 66px #f5f5f5,
		17px 1508px #f5f5f5, 1618px 880px #f5f5f5, 1518px 1661px #f5f5f5,
		1693px 1285px #f5f5f5, 1551px 1495px #f5f5f5, 1738px 984px #f5f5f5,
		892px 338px #f5f5f5, 975px 809px #f5f5f5, 1424px 153px #f5f5f5,
		609px 300px #f5f5f5, 32px 319px #f5f5f5, 246px 459px #f5f5f5,
		66px 1515px #f5f5f5, 1978px 679px #f5f5f5, 968px 1725px #f5f5f5,
		1471px 51px #f5f5f5, 1382px 1974px #f5f5f5, 709px 536px #f5f5f5,
		709px 1632px #f5f5f5, 608px 526px #f5f5f5, 298px 1871px #f5f5f5,
		518px 908px #f5f5f5, 1903px 291px #f5f5f5, 22px 285px #f5f5f5,
		493px 993px #f5f5f5, 1146px 656px #f5f5f5, 486px 1221px #f5f5f5,
		289px 27px #f5f5f5, 1424px 30px #f5f5f5, 471px 971px #f5f5f5,
		695px 1910px #f5f5f5, 226px 349px #f5f5f5, 534px 1724px #f5f5f5,
		1545px 47px #f5f5f5, 1103px 1903px #f5f5f5, 1386px 111px #f5f5f5,
		674px 269px #f5f5f5, 412px 208px #f5f5f5, 1486px 1045px #f5f5f5,
		1755px 805px #f5f5f5, 279px 681px #f5f5f5, 417px 923px #f5f5f5,
		1975px 1951px #f5f5f5, 454px 497px #f5f5f5, 1661px 1042px #f5f5f5,
		1759px 978px #f5f5f5;
	animation: animStar 150s linear infinite;
}
#stars3:after {
	content: ' ';
	position: absolute;
	top: 2000px;
	width: 3px;
	height: 3px;
	background: transparent;
	box-shadow: 1714px 336px #f5f5f5, 1233px 1403px #f5f5f5, 1106px 1251px #f5f5f5,
		1892px 461px #f5f5f5, 896px 1831px #f5f5f5, 363px 1360px #f5f5f5,
		1759px 1219px #f5f5f5, 459px 1957px #f5f5f5, 1246px 1287px #f5f5f5,
		738px 1656px #f5f5f5, 1595px 1523px #f5f5f5, 1733px 973px #f5f5f5,
		1725px 1557px #f5f5f5, 1101px 1749px #f5f5f5, 312px 1303px #f5f5f5,
		1039px 1995px #f5f5f5, 803px 1340px #f5f5f5, 924px 1421px #f5f5f5,
		442px 1820px #f5f5f5, 919px 1294px #f5f5f5, 16px 1261px #f5f5f5,
		1795px 1254px #f5f5f5, 765px 1618px #f5f5f5, 1967px 1082px #f5f5f5,
		1511px 1244px #f5f5f5, 606px 85px #f5f5f5, 508px 600px #f5f5f5,
		250px 1923px #f5f5f5, 355px 627px #f5f5f5, 159px 225px #f5f5f5,
		118px 1531px #f5f5f5, 967px 1496px #f5f5f5, 1409px 949px #f5f5f5,
		137px 1669px #f5f5f5, 1291px 1779px #f5f5f5, 177px 1265px #f5f5f5,
		667px 833px #f5f5f5, 1445px 1176px #f5f5f5, 291px 170px #f5f5f5,
		927px 1408px #f5f5f5, 1212px 137px #f5f5f5, 1563px 166px #f5f5f5,
		430px 1709px #f5f5f5, 48px 19px #f5f5f5, 1672px 332px #f5f5f5,
		610px 919px #f5f5f5, 1838px 448px #f5f5f5, 469px 170px #f5f5f5,
		1933px 1862px #f5f5f5, 1845px 1880px #f5f5f5, 1921px 1819px #f5f5f5,
		1132px 1040px #f5f5f5, 225px 1935px #f5f5f5, 1183px 66px #f5f5f5,
		17px 1508px #f5f5f5, 1618px 880px #f5f5f5, 1518px 1661px #f5f5f5,
		1693px 1285px #f5f5f5, 1551px 1495px #f5f5f5, 1738px 984px #f5f5f5,
		892px 338px #f5f5f5, 975px 809px #f5f5f5, 1424px 153px #f5f5f5,
		609px 300px #f5f5f5, 32px 319px #f5f5f5, 246px 459px #f5f5f5,
		66px 1515px #f5f5f5, 1978px 679px #f5f5f5, 968px 1725px #f5f5f5,
		1471px 51px #f5f5f5, 1382px 1974px #f5f5f5, 709px 536px #f5f5f5,
		709px 1632px #f5f5f5, 608px 526px #f5f5f5, 298px 1871px #f5f5f5,
		518px 908px #f5f5f5, 1903px 291px #f5f5f5, 22px 285px #f5f5f5,
		493px 993px #f5f5f5, 1146px 656px #f5f5f5, 486px 1221px #f5f5f5,
		289px 27px #f5f5f5, 1424px 30px #f5f5f5, 471px 971px #f5f5f5,
		695px 1910px #f5f5f5, 226px 349px #f5f5f5, 534px 1724px #f5f5f5,
		1545px 47px #f5f5f5, 1103px 1903px #f5f5f5, 1386px 111px #f5f5f5,
		674px 269px #f5f5f5, 412px 208px #f5f5f5, 1486px 1045px #f5f5f5,
		1755px 805px #f5f5f5, 279px 681px #f5f5f5, 417px 923px #f5f5f5,
		1975px 1951px #f5f5f5, 454px 497px #f5f5f5, 1661px 1042px #f5f5f5,
		1759px 978px #f5f5f5;
}

@keyframes animStar {
	from {
		transform: translateY(0px);
	}
	to {
		transform: translateY(-2000px);
	}
}
